.wrapper h2 {
  font-weight: lighter;
  font-size: 2rem;
  padding: 1rem;
}

.latest-posts .post {
  max-width: 100%;
  position: relative;
  margin-bottom: 1rem;
  text-align: center;
}

.latest-posts .post__title {
  font-size: 2rem;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-weight: bold;
  width: 100%;
  text-shadow: 3px 3px 2px rgba(0,0,0,0.6);
}

.latest-posts .post__summary {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  color: white;
  width: 90%;
  background: rgba(0,0,0,0.4);
}

.latest-posts .post__author {
  position: absolute;
  bottom: 0.3rem;
  font-size: 0.8rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.2);
  width: 100%;
}

.latest-posts .post__author .name {
  font-size: 1rem;
  font-weight: bold;
}

.category-posts {
  width: 100%;
  /*margin: 1rem 0;*/
  position: relative;
}

.category-posts:nth-child(even) {
  background: var(--secondary-color);
}

.category-posts ul {
  padding: 1rem;
}

.category-posts .more-posts {
  position: absolute;
  padding: 10px 15px;
  margin: 1rem;
  right: 0.5rem;
  bottom: 0;
  color: var(--primary-color);
  font-weight: bold;
  border: 1px solid var(--primary-color);
}

.category-posts .post{
  color: var(--primary-color);
  padding: 1rem 0;
}

.category-posts .post__title {
  margin-bottom: 5px;
}

