<div class="sidebar">
  <button id="close-sidebar-btn">X</button>
  <div class="sidebar-wrapper">
    <h1>NOSOTRES</h1>
    <h1>CONTACTO</h1>
    <h1>APORTÁ</h1>
    <br>
    <h1>Categorías:</h1>
    <ul>
      <li>Category 1</li>
      <li>Category 2</li>
      <li>Category 3</li>
      <li>Category 4</li>
      <li>Category 5</li>
    </ul>
    <h1>Tags:</h1>
    <ul>
      <li>Arduino (3)</li>
      <li>Gaming (5)</li>
      <li>Python (8)</li>
      <li>Tag 4 (1)</li>
      <li>Tag 5 (5)</li>
      <li>Tag 6 (6)</li>
    </ul>
  </div>
</div>
