<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link rel="stylesheet" href="{% static 'blog/css/base.css' %}">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body>
  {% include 'blog/snippets/_nav.html' %}
  <div class="spinner">
    <img src="https://loading.io/spinners/double-ring/lg.double-ring-spinner.gif" alt="">
  </div>
  {% include 'blog/snippets/_sidebar.html' %}
  <div class="wrapper">
    <div class="latest-posts">
      <h2>Últimos posts</h2>
      <ul class="latest-posts-list">
        {% for post in content.latest_posts %}
        <a href="#">
          <li class="post">
            <img src="http://placehold.it/1400x1400" alt="post image">
            <p class="post__title">{{ post.title }}</p>
            <p class="post__summary">{{ post.summary }}</p>
            <p class="post__author">Por <span class="name">{{ post.author.user.first_name }}</span></p>
          </li>
        </a>
        {% endfor %}
      </ul>
    </div>
    {% for item in content.category_posts %}
    <div class="category-posts">
      <h2>{{ item.category.readable_name }}</h2>
      <ul class="category-posts-list">
        {% for post in item.posts %}
        <a href="#">
          <li class="post">
            <h3 class="post__title">{{ post.title }}</h3>
            <p class="post__summary">{{ post.summary }}</p>
          </li>
        </a>
        {% endfor %}
      </ul>
      <br>
      <br>
      <a class="more-posts" href="{% url 'category-posts' name=item.category.name %}">+ Más posts</a>
    </div>
    {% endfor %}
    {% include 'blog/snippets/_footer.html' %}
  </div>
  <script type="text/javascript" src="{% static 'blog/js/spinner.js' %}"></script>
  <script type="text/javascript" src="{% static 'blog/js/sidebar.js' %}"></script>
</body>
</html>
