<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link rel="stylesheet" href="{% static 'blog/css/base.css' %}">
  {% block head %}{% endblock %}
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
</head>
<body>
  {% include 'blog/snippets/_nav.html' %}
  <div class="spinner">
    <img src="https://loading.io/spinners/double-ring/lg.double-ring-spinner.gif" alt="">
  </div>
  {% include 'blog/snippets/_sidebar.html' %}
  <div class="content">
    {% block content %}{% endblock content %}
    {% include 'blog/snippets/_footer.html' %}
  </div>
  </div>
  <script type="text/javascript" src="{% static 'blog/js/spinner.js' %}"></script>
  <script type="text/javascript" src="{% static 'blog/js/sidebar.js' %}"></script>
</body>
</html>
