{% extends 'blog/base.html' %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'blog/css/index.css' %}">
{% endblock head %}

{% block content %}
<div class="latest-posts">
  <h2>Últimos posts</h2>
  <ul class="latest-posts-list">
    {% for post in latest_posts %}
    <a href="{% url 'post-detail' slug=post.slug %}">
      <li class="post">
        <img src="{% if post.image %}{{ post.image }}{% else %}http://placehold.it/1200x1200{% endif %}" alt="post image">
        <p class="post__title">{{ post.title }}</p>
        <p class="post__summary">{{ post.summary }}</p>
        <p class="post__author">Por <span class="name">{{ post.author.full_name }}</span></p>
      </li>
    </a>
    {% endfor %}
  </ul>
</div>
{% for item in category_posts %}
<div class="category-posts">
  <h2>{{ item.category.readable_name }}</h2>
  <ul class="category-posts-list">
    {% for post in item.posts %}
    <a href="{% url 'post-detail' slug=post.slug %}">
      <li class="post">
        <h3 class="post__title">{{ post.title }}</h3>
        <p class="post__summary">{{ post.summary }}</p>
      </li>
    </a>
    {% endfor %}
  </ul>
  <br>
  <br>
  <a class="more-posts" href="{% url 'category-posts' category_name=item.category.name %}">+ Más posts</a>
  {% endfor %}
{% endblock content %}
