{% extends 'blog/base.html' %}

{% block content %}
  <div>
    <div class="latest_posts">
      <h2>Últimos Posts</h2>
      <br>
      {% for post in content.latest_posts %}
        <div>
          <h3>{{ post.title }}</h3>
          <p>Por: {{ post.author.user.username }}</p>
          <p>{{ post.published }}</p>
          <h4>{{ post.summary }}</h4>
          <!-- <p>{{ post.body }}</p> -->
          <br>
        </div>
      {% endfor %}
    </div>
    {% for item in content.category_posts %}
      {% if item.posts %}
        <div class="{{ item.category.name|lower }}-wrapper">
          <h2>{{ item.category.readable_name }}</h2>
          <br>
          {% for post in item.posts %}
          <div>
            <h3>{{ post.title}}</h3>
            <p>Author: {{ post.author.user.username }}. {{ post.published }}</p>
            <h4>{{ post.summary }}</h4>
            <!-- <p>{{ post.body }}</p> -->
            <br>
          </div>
          {% endfor %}
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock content %}
